.container-fluid {
  padding: 2rem;
}

p {
  color: white;
}

body {
  background-color: #cccccc;
}

canvas {
  background: rgb(27, 138, 24);
  margin: auto;
  padding: 0;
  display: block;
  border-radius: 5px;
  margin: solid dark 100px;
}

#moveHistory {
  width: 100%;
  font-size: 1rem;
  font-family: "Lucida Console";
}

#moveHistory tr {
  border-bottom: solid #a2a3bb 1px;
  height: 50px;
  width: 50%;
}

#moveHistory td:nth-child(even),
#moveHistory th:nth-child(even) {
  color: #fff;
  text-align: center;
  width: 50%;
}

th {
  text-align: left;
}

#moveHistory td:nth-child(odd),
#moveHistory th:nth-child(odd) {
  color: #000;
  text-align: center;
  width: 50%;
}

#tableWrapper {
  max-width: 300px;
  height: 400px;
  overflow: scroll;
  background: rgb(27, 138, 24);
  display: block;
  margin: auto;
  border-radius: 5px;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: none;
}

#configPanel {
  padding: 20px;
}

@media only screen and (max-width: 1200px) {
  #configPanel {
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 992px) {
  canvas {
    margin-bottom: 20px;
  }
}

#startButton {
  display: inline;
  margin-right: 5px;
  color: white;
}

#configPanel {
  visibility: hidden;
}

.btn-group {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

#gameSetupBtn {
  margin: 10px;
  height: 50px;
}

#configBar {
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  height: 100px;
}

#infoPanel {
  height: 500px;
  max-width: 300px;
  background: rgb(27, 138, 24);
  padding: 0;
  display: block;
  margin: auto;
  border-radius: 5px;
}

#configBar .row {
  text-align: center;
}

#openingLabel {
  display: inline-block;
}

#scoreDisplay {
  color: black;
  font-size: 20px;
  display: inline-block;
}

#scoreWrapper {
  text-align: center;
  padding-bottom: 30px;
}

#analysisTable {
  width: 100%;
  margin: 30px 0;
}

#analysisTable th,
#analysisTable td {
  padding: 10px;
}

#analysisTable tr:nth-child(even) {
  background-color: rgb(200, 200, 200);
}

#passNotification {
  width: 300px;
  margin: 20px auto;
  visibility: hidden;
}
